.idea
*.class

# Ingestion Java App
java-app/ingestion/target
java-app/ingestion/.mvn
java-app/cache

# Terraform Infrastructure Code
terraform/.terraform.lock.hcl
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup